@import url("https://fonts.googleapis.com/css?family=Raleway");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    /* display: grid; */
    /* place-items: center; */
    /* border: 2px solid red; */
    background-color: black;
    box-sizing: border-box;
    
}

.img {
    margin: 1px auto;
    /* border: 3px solid purple; */
    border-radius: 0px 0px 30px 30px;
    height: 70vh;
    width: 90vw;
    text-align: center;
    /* display: grid; */
    align-content: center;
    /* background-color: green; */
    background-image: url(https://source.unsplash.com/random/?nature,water/);
    background-repeat: no-repeat;
    background-size: cover;

}




.container {
  /* width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
  background: #27282c; */
  display: grid;
  place-content: center;
} 

.btn{
    height: 50px;
    width: 80px;
    margin-top: 10px;
    background-color: black
    ;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(210, 210, 72);

}

.btn .text{
    font-family:'Raleway' ;
    font-size: 20px;
}

